html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: .1px;
}

.din {
  font-family: "din-condensed-web","Arial Narrow",Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.node-green {
  color: #80bd01;
}

body {
  background: #1d1d1d;
  color: #ccc;
  font-size: 15px;
  line-height: 200%;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
  margin: 0;
}

body.alt {
  color: #46483e;
}

img {
  border: 0;
}

ul {
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4 {
  color: #d2d8ba;
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 2em;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  text-transform: uppercase;
}

h1 {
  font-family: Georgia, FreeSerif, Times, serif;
  font-size: 30px;
  line-height: 36px;
  text-transform: none;
  color: #669900;
  font-weight: normal;
  margin: 15px 0 11px;
}

h2 {
  font-family: "din-condensed-web","Arial Narrow",Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #80bd01;
  letter-spacing: 1px;
}

h1 code, h2 code, h3 code, h4 code,
h1 a, h2 a, h3 a, h4 a {
  color: inherit;
  font-size: inherit;
}

#nav {
  position: relative;
  background: #303030;
  padding-top: 15px;
  padding-left: 200px;
}

#nav ul {
  width: 775px;
  margin: 0 auto;
  text-align: center;
}

#nav ul:after {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  clear: both;
}

#nav ul li {
  position: relative;
  background: #303030;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 12px;
  padding-bottom: 15px;
}

#nav ul li.active:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(3, 3, 0, 0);
  border-top-color: #303030;
  border-width: 10px;
  margin-left: -10px;
}

#nav ul li a {
  padding: 2px 10px 3px 10px;
  border-left: 1px solid #6f6f6f;
}

#nav ul li:first-child {
  padding-bottom: 12px;
}

#nav ul li:first-child a {
  border-left: none;
}

#nav .forkme {
  position: absolute;
  right: 0;
  border: 0;
}

#intro {
  padding-top: 30px;
  width: 775px;
  margin: 0 auto;
  text-align: center;
  color: #d2d8ba;
}

.blog #intro {
  text-align: left;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 230px;
}

#logo {
  width: 297px;
}

#intro p {
  color: #ccc;
  width: 755px;
  padding-top: 30px;
  margin: 0 auto;
}

#intro p.version {
  padding-top: 10px;
  font-size: 12px;
}

#intro .buttons {
  height: auto;
  overflow: hidden;
  _zoom: 1;
  width: 300px;
  margin: 0 auto;
}

#intro .button {
  font-family: "din-condensed-web","Arial Narrow",Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  -webkit-transition: .2s all ease-in-out;
  -moz-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;

  margin: 10px 4px;
  display: inline-block;
  color: #1b1b1b;
  background-color: rgba(153,153,153,.7);
  width: 106px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#intro .button:hover {
  text-decoration: none;
  background-color: rgba(153,153,153,1);
}

#intro #docsbutton {
  clear: left;
}

#intro .downloadbutton {
  background-color: #80bd01;
  width: 220px;
  font-size: 30px;
  display: block;
  margin: 30px auto 0px auto;
  font-family: "din-condensed-web","Arial Narrow",Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 12px;
}

#intro .downloadbutton:hover {
  background-color: #73a53e;
}

#promo {
  position: relative;
  margin-top: 30px;
}

#promo:after {
  position: absolute;
  background: url(/images/stripe.png);
  background-size: 5px auto;
  content: '';
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: block;
}

#promo img {
  margin: 0 auto;
  width: 729px;
  display: block;
}

#content-wrap {
  background: #303030;
  padding-bottom: 50px;
}

#content {
  width: 775px;
  margin: 0 auto;
  overflow: visible;
  clear: both;
  display: block;
}

.int #content {
  padding-top: 50px;
}

.blog.int #content {
  padding-top: 10px;
}

.int #content {
  width: 953px;
}

#column1 {
  width: 460px;
  float: left;
}

#content p,
#content ul {
  font-size: 14px;
  line-height: 24px;
}

#content ul {
  margin-top: 1em;
}

#content table {
  font-size: 14px;
  line-height: 24px;
  width: 100%;
}

#download-page #installers {
  width: 600px;
  display: table;
  margin-bottom: 1em;
}

#download-page #installers ul {
  width: auto;
  text-align: center;
  margin: 0 auto;
  display: table-row;
  width: 600px;
}

#download-page #installers ul img {
  display: block;
  margin: 0 auto;
}

#download-page #installers ul a {
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 16px;
  padding-top: 1em;
}

#download-page #installers ul a:hover,
#download-page #installers ul a:active {
  background: #666;
  color: #8cc84b;
}

#download-page #installers ul li {
  width: 33%;
  display: table-cell;
}

#download-page #installers a small {
  font-size: 10px;
  display: block;
  color: #999;
}

#download-page #installers a:hover small {
  color: #eee;
}

#download-page #content th {
  text-align: left;
  width: 33%;
}

#download-page #content table {
  table-collapse: separate;
}

#download-page #content td {
  border: 1px solid #ccc;
}

#download-page #content td a {
  background: none;
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
}

#download-page #content td a:hover,
#download-page #content td a:active {
  background: #666;
  color: #8cc84b;
}

#front #content p {
  color: #fff;
  font-size: 12px;
}

#content h1 + p {
  font-size: 18px;
  line-height: 30px;
  font-family: Georgia, FreeSerif, Times, serif;
}

#column2 {
  width: 260px;
  float: right;
}

#column2.featured h3 {
  text-transform: none;
  color: #fff;
  font-size: 15px;
  line-height: 15px;
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: normal;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#column2.featured p {
  font-size: 11px;
  line-height: 18px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#column1.interior {
  width: 600px;
  float: right;
  padding-top: 11px;
  font-size: 18px;
  padding-right: 150px;
}

.row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.row h2 {
  font-size: 24px;
  color: white;
  text-transform: none;
  font-family: Georgia, FreeSerif, Times, serif;
  background: url(http://nodejs.org/images/community-icons.png) no-repeat;
  padding-left: 45px;
  padding-top: 6px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.row h2.github { background-position: left -92px; }
.row h2.mailing { background-position: left -308px; }
.row h2.periodicals { background-position: left -198px; padding-top: 9px; margin-top: 7px; }
.row h2.conferences { background-position: left -522px; }
.row h2.localized { background-position: left -414px; }
.row h2.irc { background-position: left -626px; }
.row h2.installers { background-position: left -522px; }

.block {
  width: 280px;
  float: left;
}

.block + .block {
  margin-left: 20px;
  width: 300px;
}

#content .block p {
  font-size: 13px;
  line-height: 21px;
}

#footer {
  width: 755px;
  margin: 0 auto;
  padding: 30px 0 50px 0;
}

#footer > a {
  display: block;
  text-align: center;
}

#footer img {
  margin: 0 auto;
}

#footer a:hover {
  text-decoration: none;
}

#footer h5 {
  font-family: "din-condensed-web","Arial Narrow",Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
}

#footer a p {
  color: #fff;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 15px;
  text-align: center;
  margin-top: 0;
}

#footer a.getstarted {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #6b9e00;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: .2s all ease-in-out;
  -moz-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
  color: #fff;
  width: 120px;
  display: block;
  margin: 0 auto;
  padding-top: 6px;
  padding-bottom: 6px;
}

#footer a.getstarted:hover {
  background-color: #73a53e;
}

#footer p.copyright {
  margin-top: 50px;
  color: rgba(255,255,255,.5);
  font-size: 12px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;
}

#footer p.copyright a {
  color: rgba(255,255,255,.5);
}

#footer p.copyright a:hover {
  text-decoration: underline;
}

pre, tt, code {
  color: #d2d8ba;
  font-size: 14px;
  line-height: 22px;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  margin: 0; padding: 0;
}

#front pre, #front tt, #front code {
  font-size: 12px;
  line-height: 22px;
}

pre {
  padding-left: 1em;
  margin-left: -1em;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #626557;
}

.alt pre {
  font-size: 14px;
  margin-left: 0;
  border-left: 2px solid #dadad7;
  background-color: #f4f4f2;
  color: #46483e;
  padding: 1em 1.5em;
  line-height: 2em;
}

.alt code {
  color: #996633;
}

dd {
  margin: 1em 0;
  margin-left: 1em;
}

a {
  color: #80bd01;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.alt #content-wrap {
  background: white;
}

.alt #content a {
  background-color: #f1fbda;
  padding: 0 2px;
}

.alt#logos #content a {
  background-color: transparent;
}

.highlight {
  background: #733;
  padding: 0.2em 0;
}
.desktops {
  font-size: 12px;
}

.release {
  margin: 0 0 0 2em;
}

.blog p.prev, .blog p.next {
  font-size: 14px !important;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
}

.blog p.prev{
  float: left;
}

.blog p.next {
  float: right;
}

/* simpler clearfix */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
